[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/sbin/node_exporter --collector.logind --collector.systemd --no-collector.dmi --no-collector.infiniband --web.listen-address=:9100 --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|run|mnt)($|/)
Restart=on-failure

[Install]
WantedBy=multi-user.target
