global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.

rule_files:
  - /etc/prometheus/prometheus-2.43.0.linux-amd64/prometheus.rules.yml

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'node_exporter'
    scrape_interval: 15s
    static_configs:
{% for node in node_exporte
      - targets: ["{{ node.scrapeUrl }}"]
        labels: 
          instance: "{{ node.instance }}"
{% endfor %}



# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager:9093
