global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.

rule_files:
  - "/etc/prometheus/{{ prometheus_name }}/prometheus.rules"

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'node_exporter'
    scrape_interval: 15s
    static_configs:
{% for node in node_exporter %}
      - targets: ["{{ node.scrapeUrl }}"]
        labels: 
          instance: "{{ node.instance }}"
{% endfor %}



# Alertmanager configuration
alerting:
   alertmanagers:
      - scheme: http
        static_configs:
        - targets:
          - alertmanager-service-lb:9093
