global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.

rule_files:
  - /etc/prometheus/prometheus.rules
  - /etc/prometheus/blackbox_https.rules
  - /etc/prometheus/postgresql.rules
  - /etc/prometheus/files.rules

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'node_exporter'
    scrape_interval: 15s
    static_configs:
{% for node in nodeExporter %}
      - targets: ["{{ node.scrapeUrl }}"]
        labels: 
          instance: "{{ node.instance }}"
          criticality: "{{ node.criticality }}"
          cpu_usage: "{{ node.cpu_usage }}"
          iops: "{{ node.iops }}"
{% endfor %}

  - job_name: 'postgres_exporter'
    scrape_interval: 1m
    static_configs:
{% for node in postgresqlExporter %}
      - targets: ['{{ node.scrapeUrl }}']
        labels: 
          instance: '{{ node.instance }}'
{% endfor %}

  - job_name: opentelemetry
    honor_timestamps: true
    scrape_interval: 1m
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    follow_redirects: true
    enable_http2: true
    static_configs:
      - targets: ['otm-gateway-prom-svc:8889']


  - job_name: 'blackbox_https_external'
    scrape_interval: 15m
    metrics_path: /probe
    params:
      module: [https_2xx_default]
    static_configs:
      - targets:
{% for host in hosts_blackbox %}
        - {{ host }}
{% endfor %}

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-service:9115
  
  - job_name: 'blackbox_vpnpoller03'
    scrape_interval: 15m
    metrics_path: /probe
    params:
      module: [icmp_ipv4_default]
    static_configs:
      - targets: 
{% for host in hosts_vpn_poller_03 %}
        - "{{ host }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'
        replacement: '$1'
        target_label: __param_target
      - source_labels: [__address__]
        regex: '(.*);(.*)'
        replacement: '$2'
        target_label: instance
      - target_label: __address__
        replacement: vpn.poller.03.accenta.ai:39115
  
  - job_name: 'blackbox_vpnpoller01'
    scrape_interval: 15m
    metrics_path: /probe
    params:
      module: [icmp_ipv4_default]
    static_configs:
      - targets: 
{% for host in hosts_vpn_poller_01 %}
        - "{{ host }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'
        replacement: '$1'
        target_label: __param_target
      - source_labels: [__address__]
        regex: '(.*);(.*)'
        replacement: '$2'
        target_label: instance
      - target_label: __address__
        replacement: vpn.poller.01.effipilot.com:39115


  - job_name: 'file_exporter'
    scrape_interval: 10m
    static_configs:
{% for node in filestatExporter %}
      - targets: ["{{ node.scrapeUrl }}"]
        labels: 
          instance: "{{ node.instance }}"
{% endfor %}

  - job_name: 'process_exporter'
    scrape_interval: 15s
    static_configs:
{% for node in processExporter %}
      - targets: ["{{ node.scrapeUrl }}"]
        labels: 
          instance: "{{ node.instance }}"
{% endfor %}

# Alertmanager configuration
alerting:
   alertmanagers:
      - scheme: http
        static_configs:
        - targets:
          - alertmanager-service-lb:9093
