global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.

rule_files:
  - /etc/prometheus/prometheus-2.43.0.linux-amd64/prometheus.rules

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'node_exporter'
    scrape_interval: 15s
    scheme: https
    tls_config:
      ca_file: /usr/local/share/ca-certificates/gaston.medilab.crt
    static_configs:
{% for node in node_exporter %}
      - targets: ["{{ node.scrapeUrl }}"]
        labels: 
          instance: "{{ node.instance }}"
{% endfor %}


  - job_name: 'win_exporter'
    scrape_interval: 15s
    static_configs:
{% for win in win_exporter %}
      - targets: ["{{ win.scrapeUrl }}"]
        labels: 
          instance: "{{ win.instance }}"
{% endfor %}


  - job_name: 'snmp_exporter'
    static_configs:
      - targets:
        - 10.32.99.254
        - 10.32.99.250
    metrics_path: /snmp
    params:
      module: [if_mib]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9116  # The SNMP exporter's real hostname:port.

  - job_name: 'blackbox_exporter'
    metrics_path: /probe
    params:
      module: [http_2xx_prometheus]  # Look for a HTTP 200 response.
    static_configs:
      - targets:
        - http://www1.azeroth.wow    # Target to probe with http.
        - http://www2.azeroth.wow
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # The blackbox exporter's real hostname:port.


# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager:9093
